@import "tailwindcss";

.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #4f46e5; /* indigo-600 */
}

/* Hide native scrollbars visually but keep scrolling functional */
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* optional */
.no-scrollbar::-webkit-scrollbar {
  width: 0;
}


@keyframes subtleFadeUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-subtle {
  animation: subtleFadeUp 0.6s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
